**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [6]:
# Write the code you need here to figure out the answer
# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

1

In [7]:
num_tables = 1 # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [8]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [10]:
# Write the code to figure out the answer
# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "chicago_crime" dataset
print(table.schema)

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None), SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None), SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('block', 'STRING', 'NULLABLE', None, (), None), SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None), SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None), SchemaField('description', 'STRING', 'NULLABLE', None, (), None), SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None), SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None), SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None), SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None), SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [11]:
num_timestamp_fields = 2 # Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [12]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [20]:
# Write the code here to explore the data so you can find the answer
from IPython.display import display
table_ref = dataset_ref.table('crime')
table = client.get_table(table_ref)
crime_dataframe = client.list_rows(table, max_results = 5).to_dataframe()

display(crime_dataframe)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11705366,JC284819,2019-05-22 08:30:00+00:00,001XX N DEARBORN ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,STREET,False,False,...,42.0,32.0,02,1175916.0,1901339.0,2019,2019-06-30 03:41:21+00:00,41.884641,-87.629465,"(41.884640562, -87.629465296)"
1,11617733,JC177893,2018-03-01 09:00:00+00:00,001XX N MICHIGAN AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,COMMERCIAL / BUSINESS OFFICE,False,False,...,42.0,32.0,02,NaN,NaN,2018,2019-03-10 04:00:57+00:00,NaN,NaN,None
2,1837474,G672156,2001-11-07 10:34:39+00:00,002XX S CANAL ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,SIDEWALK,False,False,...,NaN,NaN,03,1173137.0,1899241.0,2001,2015-08-17 03:03:40+00:00,41.878946,-87.639732,"(41.878945611, -87.639732344)"
3,8409334,HT642418,2011-12-21 06:00:00+00:00,003XX S CANAL ST,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,...,2.0,28.0,03,1173189.0,1898797.0,2011,2016-02-04 06:33:39+00:00,41.877726,-87.639555,"(41.877726093, -87.639554589)"
4,1866824,G704843,2001-11-23 10:45:00+00:00,003XX S JEFFERSON ST,031A,ROBBERY,ARMED: HANDGUN,ALLEY,False,False,...,NaN,NaN,03,1172343.0,1898647.0,2001,2015-08-17 03:03:40+00:00,41.877333,-87.642665,"(41.877333207, -87.642665292)"

In [18]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [17]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [21]:
# Scratch space for your code
# Write the code here to explore the data so you can find the answer
from IPython.display import display
table_ref = dataset_ref.table('crime')
table = client.get_table(table_ref)
crime_dataframe = client.list_rows(table, max_results = 5).to_dataframe()

display(crime_dataframe)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11705366,JC284819,2019-05-22 08:30:00+00:00,001XX N DEARBORN ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,STREET,False,False,...,42.0,32.0,02,1175916.0,1901339.0,2019,2019-06-30 03:41:21+00:00,41.884641,-87.629465,"(41.884640562, -87.629465296)"
1,11617733,JC177893,2018-03-01 09:00:00+00:00,001XX N MICHIGAN AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,COMMERCIAL / BUSINESS OFFICE,False,False,...,42.0,32.0,02,NaN,NaN,2018,2019-03-10 04:00:57+00:00,NaN,NaN,None
2,1837474,G672156,2001-11-07 10:34:39+00:00,002XX S CANAL ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,SIDEWALK,False,False,...,NaN,NaN,03,1173137.0,1899241.0,2001,2015-08-17 03:03:40+00:00,41.878946,-87.639732,"(41.878945611, -87.639732344)"
3,8409334,HT642418,2011-12-21 06:00:00+00:00,003XX S CANAL ST,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,...,2.0,28.0,03,1173189.0,1898797.0,2011,2016-02-04 06:33:39+00:00,41.877726,-87.639555,"(41.877726093, -87.639554589)"
4,1866824,G704843,2001-11-23 10:45:00+00:00,003XX S JEFFERSON ST,031A,ROBBERY,ARMED: HANDGUN,ALLEY,False,False,...,NaN,NaN,03,1172343.0,1898647.0,2001,2015-08-17 03:03:40+00:00,41.877333,-87.642665,"(41.877333207, -87.642665292)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*